services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    env_file:
      - .env
    environment:
      INSECURE: true

      INIT_USERNAME: ${INIT_USERNAME:-admin}
      INIT_PASSWORD: ${INIT_PASSWORD:-Se!ureP%ssw}
      INIT_HOST: ${INIT_HOST:-vpn.example.com}
      INIT_PORT: ${INIT_PORT:-51820}
      INIT_DNS: ${INIT_DNS:-1.1.1.1,8.8.8.8}
      INIT_IPV4_CIDR: ${INIT_IPV4_CIDR:-10.8.0.0/24}
      INIT_IPV6_CIDR: ${INIT_IPV6_CIDR:-2001:0DB8::/32}
      INIT_ALLOWED_IPS: ${INIT_ALLOWED_IPS:-0.0.0.0/0,::/0}
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
    volumes:
      - ./wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1

networks:
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
